
body {
    background-image: url(images/pot2.gif),url(images/kitchen.jpg),url(images/tile.jpg);
    background-position: center top, left top;
    background-position-y: 154px, 10px;
    background-repeat: no-repeat;
    background-size: 134vw 182vw, 124vw 143vw;
}

* {
    list-style-type: none;
}

.ingredient {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 13px;
    background-color: rgba(231, 231, 231, 0.699);
    font-style: italic;
}

.ingredient button {
    position: relative;
    right: -146px;
    bottom: 2px;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff000099;
}

.ingredients-list-div {
    text-align: center;
}

.ingredients-list-div h2 {
    color: #8c0000;
    text-align: center;
    margin-bottom: 5px;
}

.recepie-div {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid rgba(0, 161, 201, 0.719) 2px;
    border-radius: 13px;
    background-color: rgba(245, 245, 245, 0.644);
    text-align: right;
    padding-right: 5px;
}

.recipie-image {
    border: solid 1px rgba(0, 0, 255, 0.596);
    border-radius: 40px;
    width: 40%;
}

.expanded {
    font-size: larger;
}

input.expanded {
    width: 50%;
    border-radius: 14px;
}

.icon-badges.expanded {
    width: 100px;
    height: 100px;
}

.icon-like {
    width: 20px;
}

.like-span {
    text-align: left;
}

.icon-badges {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.used {
    border: solid 1px green;
    background-color: #c8ffe2;
}

.missed {
    border: solid 1px red;
    background-color: #ffdada;
}

.ingredient-badges-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
}

.required-ingredients {
    text-align: left;
    padding-left: 10px;
}

.req-ing-title-div {
    text-align: left;
}

.req-ing-title-h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#word-bubble {
    font-size: larger;
    position: fixed;
    left: 40%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.692);
}

#reset-button {
    display: block;
    position: absolute;
    right: 9px;
    top: 63px;
    border-radius: 13px;
    background-color: rgba(255, 99, 71, 0.76);
}

button {
    border-radius: 13px;
}

#ing-label {
    border-radius: 13px;
    background-color: whitesmoke;
}

.app-title {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: rgba(80, 214, 255, 0.521);
    border-radius: 13px;
}

#js-form {
    border: solid 2px rgba(0, 0, 0, 0.486);
    border-radius: 7px;
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: center;
    background-color: rgba(80, 214, 255, 0.56);
}

#js-add-ingredient-button {
    padding: 8px;
    background-color: #23dc23b0;
    border-radius: 47%;
}

#ingredient {
    font-size: large;
    border-radius: 7px;
}

/* .big-pot {
    position: sticky;
    left: -42px;
    width: 124vw;
} */

.hidden {
    display: none;
}