
body {
    background-image: url("images/kitchen.jpg");
    background-size: fill;
}

* {
    list-style-type: none;
}

h1 {
    border: 1px solid black;
    background-color: rgba(80, 214, 255, 0.521);
}


.ingredient {
    border: 2px solid black;
    background-color: rgba(231, 231, 231, 0.699);
}

.hidden {
    display: none;
}